header {
    /* border: solid 1px black; */
    display: flex;
    background-color: #3385ff;
    color: white;
}
.acme {
    /* border: solid 1px black; */
    width: 25vw;
    display: flex;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.nav {
    /* border: solid 1px black; */
    width: 75vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-users {
    font-weight: bold;
}

.users {
    padding-left: 1.5rem;
}

.create {
    display: flex;
    justify-content: center;
}

.form {
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 500px;
}

.form > h1 {
    padding-left: 25px;
}

.fields {
    display: flex;
}

.buttons {
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
    padding-top: 15px;
}

.save {
    background-color: #3385ff;;
    color: white;
}

/* .fields {
    -webkit-flex: 1;
} */

.fields > label {
    /* border: 1px solid black; */
    font-weight: bold;
    display: flex;
    width: 125px;
    padding-left: 15px;
    padding-bottom: 15px;
}

.fields > input{
    margin: 0.5rem;
}

* {
    box-sizing: border-box;
    font-family: Verdana;
}

.results {
    /* border: solid 1px black; */
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
}

.boxes {
    border: solid 1px black;
    border-radius: 20px;
    /* height: 100px; */
    width: calc(100%/3 - 30px);
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userA{
    font-weight: bold;
    /* margin: 15px; */
}

.boxes > p {
    margin: 15px;
}

@media (max-width: 600px){
    .boxes{
        width: 100%;
    }
    header{
        flex-direction: column;
    }
    .nav{
        flex-direction: column;
        align-items: flex-start;
        margin-left: 1.5rem;
    }
    .buttons{
        flex-direction: column;
        width: 100% - 2rem;
        margin: 1rem
    }
    .fields{
        flex-direction: column;
    }
    .fields > label{
        padding-bottom: 0rem;
    }
    .fields > input{
        margin: 0.5rem;
    }
    #dept{
        margin: 0.25rem;
    }
    .acme {
        width: 100vw
    }
}