header {
    background-color: blue;
    color: white;
    display: flex;
    /* align-items: center; */
    width: 100%;
}

/* header > div {
    display: flex;
    
} */

.acme {
    display: flex;
    font-size: 2rem;
    height: 75px;
    width: 200px;
    /* width: 25%; */
    align-items: center;
    padding-left: 25px;
}

nav {
    display: flex;
    align-items: center;
    height: 75px;
    /* width: 75%; */
    width: 1000px;
    justify-content: space-evenly;
}


